@charset "UTF-8";

.login_html { 
	overflow-y: scroll;
	overflow-x: hidden;
}

body {
    width: 100%;
}

#container{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	width: 420px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

#login_title {
	font-size: 36px;
	font-weight: 550;
	letter-spacing: 6px;
}

.title-account {
	font-size: 12px;
	letter-spacing: -0.9px;
	color: #6a6a6a;
	padding-bottom: 50px;
	padding-right: 5px;
}


#user_id {
	width: 350px;
	height: 40px;
	border: none;
	border-bottom: 1px solid #6a6a6a;
	margin-bottom: 40px;
	border-radius: 0 !important;
	outline: none;
}

#user_pwd {
	width: 350px;
	height: 40px;
	border: none;
	border-bottom: 1px solid #6a6a6a;
	margin-bottom: 40px;
	border-radius: 0 !important;
	outline: none;
}


#user_id:focus {
	border: none;
    border-bottom: 1px solid #99dce6;
}

#user_pwd:focus {
	border: none;
    border-bottom: 1px solid #99dce6;
}

#login_btn {
	font-size: 18px;
    width: 350px; /* 버튼 너비 지정 */
    height: 45px; /* 버튼 높이 지정 */
    margin: 8px 0; /* 버튼 간격 조정 */
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #99dce6;
    transition: background-color 0.3s;
    display: flex; /* 추가 */
    justify-content: center; /* 추가 */
    align-items: center; /* 추가 */
}

#login_btn:hover {
    background-color: #8bc9d2;
}

.comment {
	margin-right: 10px;
	color: #6a6a6a;
}

.login_other {
	margin-top: 10px;
}

.login_other a {
	font-size: 15.5px;
}
 
.a_join {
	text-decoration: none;
	color: #99dce6;
	font-weight: 550;
}

.a_find_id {
	color: #6a6a6a;
	text-decoration: none;
}

.a_find_pw {
	color: #6a6a6a;
	text-decoration: none;
}

.kako_bt {
    justify-content: center;
    align-items: center;
}

.kako_bt a {
    height: 40px;
}

.kakao_hr {
	width: 92%;
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: #6a6a6a;
    font-size: 12px;
    margin: 20px 0px;
}

.kakao_hr::before,
.kakao_hr::after {
	content: "";
	flex-grow: 1;
	background: #6a6a6a;
	height: 1px;
	font-size: 0px;
	line-height: 0px;
	margin: 0px 16px;
}

.kakao_line {
	margin-bottom: 20px;
}




