
/*사이드바 2*/
.sidebar2 {
	display :flex;
	flex-direction :column;
	height: 100%;
	width: 0px;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: white;
	border:1px solid #6a6a6a;
	overflow-x: hidden;
	transition: 0.3s;/*펼침속도*/
	padding-top: 60px;
}
.sidebar2_header{
	background-color: #6a6a6a;
}
.sidebar2 a {
	padding: 10px 6px 4px 32px;
	text-decoration: none;
	font-size: 20px;
	color: white;
	display: block;
	transition: 0.3s;
	text-align: right;
	cursor: pointer;
}


.sidebar2 .closebtn {
	position: absolute;
	top: 50px;
	right: 0px;
	font-size: 36px;
}

.openbtn2 {
	font-size: 15px;
	cursor: pointer;
	background-color: #99dce6;
	color: white;
	padding: 10px 15px;
	border: none;
      /* top: 0;
	position: fixed; */
}

.openbtn2:hover {
	background-color: #8bc9d2;
}

#sidebar2_page {
	display:flex;
	justify-content:center;
	transition: margin-left 0.4s;
	padding: 16px;
}

.blist-container {
	margin: 10px;
}

.blist_table {
	border-collapse: collapse;
}

.blist_table th {
	border: none;
	color: #6a6a6a;
	font-size: 14px;
	font-weight: 300;
}

.blist_table td {
	border: 1px solid #6a6a6a;
	color: #6a6a6a;
	font-size: 14px;
	font-weight: 300;
}

.td_title {
	padding-left: 5px;
}

.blist_table input {
	border: none;
	background-color: white;
	font-size: 20px;
	color: #6a6a6a;
	cursor: pointer;
}

.td_x {
	text-align: center;
}

#sidebar2_page {
	margin-right: 0px;
}

.sidebar2.no-border {
    border: none;
}