<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
	<!--search model pacakage  -->
  	<typeAlias type="com.jejutree.search_model.SearchDAO" alias="searchDao"/>
  	<typeAlias type="com.jejutree.search_model.SearchDTO" alias="searchDto"/>
  	<!--user model pacakage  -->
  	<typeAlias type="com.jejutree.user_model.UserDAO" alias="userDao"/>
  	<typeAlias type="com.jejutree.user_model.UserDTO" alias="userDto"/>
  	</typeAliases>
</configuration>