body {
  height: 1080px;
   display: flex;
  flex-direction: column;
}

.title {
  font-size: 30px;
  position: relative;
  top: 0px;
}

/* 유저 프로필 header */

#mypage_profile {
  align-items: center;
  align-content: center;
  text-align: center;
  margin-top: 5%;
  top: 0;
  left: 0;
  right: 0;
  height: 100px; /* 적절한 높이 값으로 조정해주세요 */
}

#mypage_profile .profile_img {
  height: 150px;
  width: 150px;
}

#mypage_profile .change_profile_btn {
   font-size: 13px;
   width: 88px;
   height: 33px;
   margin: 8px auto;
   cursor: pointer;
   border: none;
   color: white;
   background-color: #99dce6;
   transition: background-color 0.3s;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   text-align: center;
   cursor: pointer;
   padding: 3px 9px; /* 필요에 따라 조정하세요 */
}

#mypage_profile p {
  padding-top: 0;
  margin-top: 0;
}

.draggable {
	cursor: move;
}

.container {
	position: relative;
    top: 100px; /* 원하는 만큼의 픽셀 값으로 조정 */
	display: flex;
	justify-content: space-around;
}

#your-plans, #others-plans {
	min-height: 50px;
	border: 1px solid #aaa;
	border-radius: 2%;
	margin-bottom: 200px;
	padding: 10px;
	width: 35%; /* Adjust this value to change the width of the boxes */
    align-items: center;
 margin: 0 10px; /* Adjust the margin value as needed */
  flex-basis: 40%; /* Adjust the flex-basis value as needed */    
}
.plan_box {
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;
  max-height: 700px; /* 적절한 높이 값으로 조정해주세요 */
  padding-bottom: 10px; /* 스크롤바가 겹치지 않도록 하기 위한 여백 */
}

.plan_box p {
  display: flex;
  align-items: center;
}

.plan_box img {
  order: -1;
  margin-right: 10px;
}

.plan_box .details {
  display: none;
}
.plan_box .plan {
  flex-basis: calc(33.33% - 10px);
  margin: 5px;
  transition: box-shadow 0.3s ease;
  flex-direction: column;
}

.plan-shadow:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}